header {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 4px 2px -2px gray;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #4CAF50;
}

body {
    padding-top: 80px;  
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    color: #333;
    line-height: 1.6;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
}

td {
    background-color: #f9f9f9;
}

.profile{
   
    border-radius: 50%;
    margin-top: 20px; 
}

